# Ignore some files

# Files made by VS
*.obj
*.exe
*.ilk
*.pdb
*.idb
*.ipch
*.sdf
*.suo
*.tlog
*.log
*.lastbuildstate
*.cache
*.opensdf
*.vcxproj
*.filters

# Build results
WGS/wgsQP/wgsQP/Debug/

# Files made by MATLAB
*.asv